.grid-container{
    display: grid;
    border: 5px solid rgb(137, 247, 63);
    background-color: aliceblue;
    gap: 5px;
    grid-template-columns: auto auto auto auto;
    grid-template-areas: 'header header header header header'
    'menu main main aside aside'
    'menu footer footer footer footer';
}

.grid-container > *{
    background-color: firebrick; 
    color: rgb(1, 9, 16);
    text-align:center; 
    border: 1px solid black;
    padding: 10px;
}


@media screen and (max-width: 600px){
    .grid-container > *{
        background-color: rgb(239, 122, 32);
    }

    .grid-container{
        grid-template-areas: 
        'header header header header header'
        'menu menu menu menu menu'
        'main main main main main'
        'aside aside aside aside aside'
        'footer footer footer footer footer';
    }
}