.grid-container{
    display: grid;
    grid-template-columns:100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}


figure img{
width: 100px;
height: 100px;
}

.item1{

}
.item2{
  
    grid-column-end: 2;
    grid-row-start: 2;
}
.item3{
    grid-row-start: 3;
}
.item4{

}
.item5{
    grid-column-start: 2;
    grid-row-start: 2;
}
.item6{
    grid-row-start: 3;
}
.item7{
}
.item8{
}
.item9{
}