.grid-container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

}

    
figure img{
    width: 100px;
    height: 100px;
}
.item3{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
}
.item5{
    grid-row-end: 4;
    grid-column-end: 3;
}
.item1{
      grid-row-end: 3;
}
.item6{
    grid-row-start: 1;
    grid-column-end: 4;
}
.item7{
    grid-row-start: 2;
    grid-column-end: 4;
}
.item4{
    grid-row-start: 2;
}