.grid-container{
    background-color: rgb(2, 25, 36);
    display: grid;
   
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

    
}
.grid-container div{
    background-color: rgb(9, 218, 190);
    
}

.leona{
    height: 100px;
    width: 100px;
    
}

figure {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.item8{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

.item7{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
}
.item5{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item4{
    grid-row-start: 2;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}



}