/* .Grid-container{
    background-color: blanchedalmond;
    display:grid;
    grid-template-areas: 
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
    gap: 10px;

}
.Grid-container div{
    background-color:burlywood;
    text-align: center;
    padding: 10px;

}

.Item1{
    grid-area: header;
}  
.Item2{
    grid-area: menu;
} 
.Item3{
    grid-area: main;
} 
.Item4{
    grid-area: right;
} 
.Item5{
    grid-area: footer;
}  */

.Grid-container{
    display:grid;
    /* grid-template-columns: 500px 500px 500px;
    grid-template-rows: 300px 300px 300px; */
    grid-template-areas: 
    'img1 img4 img7'
    'img2 img5 img8'
    'img3 img6 img9';
}
.Grid-container div{
    background-color:burlywood;
    align-content: center;
    width: fit-content;
    height: fit-content;

}

figure {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;


}
.Imagen{
    width: 500px;
    height: 300px;
}

.Item1{
    grid-area: img1;
}  
.Item2{
    grid-area: img2;
} 
.Item3{
    grid-area: img3;
} 
.Item4{
    grid-area: img4;
} 
.Item5{
    grid-area: img5;
}  
.Item6{
    grid-area: img6;
} 
.Item7{
    grid-area: img7;
} 
.Item8{
    grid-area: img8;
} 
.Item9{
    grid-area: img9;
}