

.grid-container{
        display: grid;
        background-color: antiquewhite;
        gap: 5px;
        border: 5px solid green;
        grid-template-columns: auto auto auto auto;
        grid-template-areas: 'header header header header header'
        'menu main main aside aside'
        'menu footer footer footer footer';

}
.grid-container > *{
        background-color: firebrick;
        color: aliceblue;
        text-align: center;
        border: 1px solid black;
        padding: 10px;
}
header{
    height: 100px
}
menu{
    height: 100px;
}
aside{
    height: 100px;
}
footer{
    height: 100px
}
@media screen and (max-width:600px) {
    .grid-container>*{
        background-color: aquamarine;
    
      
    }
    aside, article{
         grid-column: 1 / span 3;
        }
            
        .grid-container{
         grid-template-rows: repeat(5, 100px);
         }
        
.grid-container{
    grid-template-areas: 'header header header header header'
        'aside aside aside aside aside'
        'footer footer footer footer footer'
        'menu menu menu menu menu '
        'main main main main main ';
}